/* 文章页背景 */
/*.layout_post>#post {
    /* 以下代表白色透明度为0.3 */
    /*background: rgba(255,255,255,.1);
}

/* 所有背景（包括首页卡片、文章页、页面页等） */
/*#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表白色透明度为0.3 */
    /*background: rgba(255,255,255,.1);
}


/*#tag_bg {
background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

/* 首页文章栏背景透明 */
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: var(--light_bg_color)
}


/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(255, 255, 255, 0.9);
}
/* 首页侧栏卡片 */
.card-widget{
  background:rgba(255, 255, 255, 0.9)!important;
}
/* 文章页面正文背景 */
div#post{
  background: rgba(255, 255, 255, 0.9);
  background-image:url(/images/images/MSHJK1QU0P65521UG9_O2H.png);
}
/* 分页页面 */
div#page{
  background: rgba(255, 255, 255, 0.9);
  background-image:url(/images/images/MSHJK1QU0P65521UG9_O2H.png);
}
/* 归档页面 */
div#archive{
  background: rgba(255, 255, 255, 0.9);
  background-image:url(/images/images/MSHJK1QU0P65521UG9_O2H.png);
}

/* 标签页面 */
div#tag{
  background: rgba(255, 255, 255, 0.9);
  background-image:url(/images/images/MSHJK1QU0P65521UG9_O2H.png);
}
/* 分类页面 */
div#category{
  background: rgba(255, 255, 255, 0.9);
  background-repeat: no-repeat;
  background-image:url(/images/images/MSHJK1QU0P65521UG9_O2H.png);
  background-attachment:fixed;
  background-position:50% 50%;
  background-size: 100% 100%;  
}