@font-face {
  font-family: "iconfont"; /* Project id 2872864 */
  src: url('//at.alicdn.com/t/font_2872864_o0n1rf893n.woff2?t=1634443327186') format('woff2'),
       url('//at.alicdn.com/t/font_2872864_o0n1rf893n.woff?t=1634443327186') format('woff'),
       url('//at.alicdn.com/t/font_2872864_o0n1rf893n.ttf?t=1634443327186') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e612";
color:#854EEB
}