@font-face {
  font-family: "iconfont"; /* Project id 2873034 */
  src: url('//at.alicdn.com/t/font_2873034_3htslx6kt9h.woff2?t=1634454120907') format('woff2'),
       url('//at.alicdn.com/t/font_2873034_3htslx6kt9h.woff?t=1634454120907') format('woff'),
       url('//at.alicdn.com/t/font_2873034_3htslx6kt9h.ttf?t=1634454120907') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e607";
}
